<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem">

  <mat-form-field color="accent">
    <mat-select #unitType placeholder="Type" (change)="onTypeChange()" [(ngModel)]="selectedTypeId">
      <mat-option *ngFor="let typeId of unitTypeIds" [value]="typeId">
          {{getTypeString(typeId) | capitalize}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="1rem" fxLayoutGap.lt-sm="0">
    <dc-input [input]="sourceInput" (unitChange)="onUnitChange()" (valueChange)="updateTargetValue()"></dc-input>
    <div id="dc-converter-equal">
      <span class="dc-secondary-text">=</span>
    </div>
    <dc-input [input]="targetInput" (unitChange)="onUnitChange()" (valueChange)="updateSourceValue()"></dc-input>
  </div>

</div>
