<div fxLayout="column" fxLayoutAlign="start center">
  <form fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
    <md-radio-group name="unitSystem" fxLayout fxLayoutGap="2rem" [(ngModel)]="system" (change)="setDefaultUnitSystem($event.value)">
      <md-radio-button value="metric">Metric</md-radio-button>
      <md-radio-button value="imperial">Imperial</md-radio-button>
    </md-radio-group>

    <div fxLayout fxLayoutGap=".2rem">
      <md-form-field fxFlex color="accent">
        <input mdInput name="weightValue" type="number" [placeholder]="weightSelector.name" [(ngModel)]="weightSelector.value" />
        <md-hint align="end">{{unitString(weightSelector?.unit?.symbol)}}</md-hint>
      </md-form-field>
      <md-select fxFlex="none" name="weightUnits" color="accent" placeholder="Units" (change)="updateSystem()" [(ngModel)]="weightSelector.unit">
        <md-option *ngFor="let unit of weightSelector.group" [value]="unit">
          {{unit?.name}} ({{unitString(unit?.symbol)}})
        </md-option>
      </md-select>
    </div>

    <div fxLayout fxLayoutGap=".2rem">
      <md-form-field fxFlex color="accent">
        <input mdInput name="heightValue" type="number" [placeholder]="heightSelector.name" [(ngModel)]="heightSelector.value">
        <md-hint align="end">{{unitString(heightSelector?.unit?.symbol)}}</md-hint>
      </md-form-field>
      <md-select fxFlex="none" name="heightUnits" color="accent" placeholder="Units" (change)="updateSystem()" [(ngModel)]="heightSelector.unit">
        <md-option *ngFor="let unit of heightSelector.group" [value]="unit">
          {{unit?.name}} ({{unitString(unit?.symbol)}})
        </md-option>
      </md-select>
    </div>

    <dc-result class="dc-full-width"
      [title]="'Mifflin St. Jeor'"
      [value]="(result || 0) | number:'1.1-1'"
      [units]="'kcal/day'">
    </dc-result>
  </form>
</div>
