

<div fxLayout="column" fxLayoutAlign="start center">
  <form fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
    <md-radio-group name="unitSystem" fxLayout fxLayoutGap="2rem" [(ngModel)]="system" (change)="setDefaultUnitSystem($event.value)">
      <md-radio-button value="metric">Metric</md-radio-button>
      <md-radio-button value="imperial">Imperial</md-radio-button>
    </md-radio-group>

    <div fxLayout fxLayoutGap=".2rem">
      <md-form-field fxFlex color="accent">
        <input mdInput name="weightValue" type="number" placeholder="Weight" [(ngModel)]="unitSelections['weightSelector'].value" />
        <md-hint align="end">{{unitString(unitSelections['weightSelector']?.unit?.symbol)}}</md-hint>
      </md-form-field>
      <md-select fxFlex="none" name="weightUnits" color="accent" placeholder="Units" (change)="updateSystem()" [(ngModel)]="unitSelections['weightSelector'].unit">
        <md-option *ngFor="let unit of unitSelections['weightSelector'].group" [value]="unit">
          {{unit?.name}} ({{unitString(unit?.symbol)}})
        </md-option>
      </md-select>
    </div>

    <div fxLayout fxLayoutGap=".2rem">
      <md-form-field fxFlex color="accent">
        <input mdInput name="heightValue" type="number" placeholder="Height" [(ngModel)]="unitSelections['heightSelector'].value">
        <md-hint align="end">{{unitString(unitSelections['heightSelector']?.unit?.symbol)}}</md-hint>
      </md-form-field>
      <md-select fxFlex="none" name="heightUnits" color="accent" placeholder="Units" (change)="updateSystem()" [(ngModel)]="unitSelections['heightSelector'].unit">
        <md-option *ngFor="let unit of unitSelections['heightSelector'].group" [value]="unit">
          {{unit?.name}} ({{unitString(unit?.symbol)}})
        </md-option>
      </md-select>
    </div>

    <dc-result class="dc-full-width"
      [title]="'Body Mass Index (BMI)'"
      [value]="(result || 0) | number:'1.1-1'"
      [units]="'kg/m&#178;'">
    </dc-result>
  </form>

  <table id="bmi-scale">
    <thead>
      <tr>
      <th>BMI
      <th>Classification
    </thead>
    <tbody>
      <tr *ngFor="let class of bmiClassifications" [ngClass]="{'current-range': result && class.inRange(result)}">
      <td>{{class?.range}}
      <td>{{class?.description}}
    </tbody>
  </table>
</div>
