.header-toolbar {
  padding: 1em;
}

#dc-header {
  padding: 2em 1em;
}

#main-title, #main-subtitle {
  text-align: center;
  overflow-wrap: normal;
}

#main-title {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: .2rem;
}

#main-subtitle {
  font-weight: normal;
  font-size: 1rem;
}

#header-text {
  margin-left: 1rem;
}

#header-title {
  font-weight: normal;
  font-size: 1.5rem;
}

#header-subtitle {
  margin-top: .1rem;
  font-weight: normal;
  font-size: 1rem;
}
