#pageHeader {
  padding: 2em 1em;
}

#pageTitle, #pageSubtitle {
  text-align: center;
  overflow-wrap: normal;
  font-weight: bold;
}

#pageTitle {
  font-size: 2.2em;
  margin-bottom: .3em;
}

#pageSubtitle {
  font-size: .8em;
}

md-toolbar h3 {
  font-weight: normal;
}
