<div fxLayout="row" fxLayoutAlign="center start">
  <div class="text-content" fxLayout="column" fxLayoutGap="1rem">

    <p>{{aboutText[0]}}</p>

    <div fxLayout="column">
      <img id="img-curtsey" class="dc-full-shadow" src="../../assets/images/Curtis-Chelsey.jpg" alt="Curtis and Chelsey Bollinger" />
      <div id="curtsey-names" fxLayout="row" fxLayoutGap=".5rem">
        <div *ngFor='let profile of profiles' fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".3rem">
          <div fxFlex="none">
            <a href="{{profile?.linkedInUrl}}" target="_blank">
              <img src="../../assets/images/svg/linkedin.svg" alt="LinkedIn profile of {{profile?.name}}" />
            </a>
          </div>
          <div>
            <span>{{profile?.name}}</span>
            <span> - </span>
            <span>{{profile?.title}}</span>
          </div>
        </div>
      </div>
    </div>

    <p>{{aboutText[1]}}</p>
    <p>{{aboutText[2]}}</p>

  </div>
</div>
