.about-profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.about-profile {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: repeat(auto-fit, auto);
}

.dc-about-content {
  max-width: 40rem;
  margin: 0 1rem;
}
