<div fxLayout="column" fxLayoutAlign="start center">

  <div fxLayout fxLayoutAlign="center start" fxLayoutGap="1rem" fxHide fxShow.gt-sm >
    <div class="dc-tool-panel-container" fxFlex="none">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Calculators</h3>
      <dc-calculator-options
        [calculators]="calculators"
        (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
      </dc-calculator-options>
    </div>

    <div class="dc-tool-panel-container"
         *ngIf="getActiveInputs().length > 0" [@appearOnActive]>
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Inputs</h3>
      <dc-calculator-inputs
        [(system)]="system"
        [inputs]="inputs">
      </dc-calculator-inputs>
    </div>

    <div class="dc-tool-panel-container"
         *ngIf="getActiveInputs().length > 0 && getCompletedResults().length > 0" [@appearOnActive]>
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Results</h3>
      <dc-calculator-outputs
        [calculators]="calculators"
        [inputs]="inputs">
      </dc-calculator-outputs>
    </div>
  </div>

  <mat-tab-group color="accent" [dynamicHeight]="true" fxShow fxHide.gt-sm>
    <mat-tab label="Calculators">
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container" fxFlex="none">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Calculators</h3>
        <dc-calculator-options
          [calculators]="calculators"
          (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
        </dc-calculator-options>
      </div>
    </mat-tab>

    <mat-tab label="Inputs">
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Inputs</h3>
        <dc-calculator-inputs
          [(system)]="system"
          [inputs]="inputs">
        </dc-calculator-inputs>
      </div>
    </mat-tab>

    <mat-tab label="Results">
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">Results</h3>
        <dc-calculator-outputs
          [calculators]="calculators"
          [inputs]="inputs">
        </dc-calculator-outputs>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
