<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout>
    <button class="dc-small" mat-button (click)="calcsList.selectAll()">
      <mat-icon>check_box</mat-icon>
      <span>Select all</span>
    </button>
    <button class="dc-small" mat-button (click)="calcsList.deselectAll()">
      <mat-icon>check_box_outline_blank</mat-icon>
      <span>Deselect all</span>
    </button>
  </div>

  <mat-selection-list #calcsList fxLayout="column" fxLayoutGap="1rem">
    <div *ngFor="let group of calculators$ | async | groupBy:'type'">
      <h3 matSubheader>{{group.key | capitalize}}</h3>
      <div *ngFor="let calc of group.value">
        <mat-divider></mat-divider>
        <mat-list-option checkboxPosition="before"
                         [value]="calc" [selected]="calc.active"
                         (selectionChange)="setCalcActive($event.source.value.Id, $event.selected)">
          <h3 mdLine class="dc-list-option-title">{{calc.title}}</h3>
          <h6 mdLine class="dc-list-option-subtitle dc-secondary-text">{{calc.subtitle}}</h6>
        </mat-list-option>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-selection-list>

</div>
