#dc-result {
  width: 100%;
  min-width: 10rem;
}

#dc-result-title {
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  text-overflow: ellipsis;
}

#dc-result-value {
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

#dc-result-underline {
  display: block;
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: 4px 1px;
  height: 1px;
}

#dc-result-units {
  margin-top: 0.35rem;
  text-align: right;
  font-size: 0.75em;
  text-overflow: ellipsis;
}
