<mat-toolbar fxFlexLayout id="dc-header" class="dc-bottom-shadow" color="primary">
  <div>
    <button mat-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
      <span id="homeText">Dietetic Calculator</span>
    </button>
  </div>
  <span fxFlex></span>
  <div fxLayout fxLayoutAlign="end center">
    <button mat-button [matMenuTriggerFor]="dcmenu" class="dc-small">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #dcmenu="matMenu">
      <button mat-menu-item [routerLink]="['about']">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
