<div fxLayout="column" fxLayoutAlign="start center">

  <div fxLayout fxLayoutGap="1rem" fxHide fxShow.gt-sm>
    <div fxFlex="none">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.calc.long}}</h3>
      <dc-calc-list
        [calcs]="calcs$ | async">
      </dc-calc-list>
    </div>

    <div fxFlex="none">
      <div *ngIf="activeDataCount()" [@appearOnActive]>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.input.long}}</h3>
        <dc-input-list
          [inputs]="inputs$ | async"
          [selects]="selects$ | async"
          [units]="units$ | async">
        </dc-input-list>
      </div>
    </div>

    <div fxFlex="none">
      <div *ngIf="activeCalcsCount()" [@appearOnActive]>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.output.long}}</h3>
        <div *ngIf="activeFilledDataCount() !== activeDataCount()" [@appearOnActive]
              fxLayout="column" fxLayoutAlign="start center">
          <dc-chip color="warn">{{messages.missingInputs}}</dc-chip>
          <div class="dc-spacer"></div>
        </div>
        <dc-output-list
          [calcs]="calcs$ | async"
          [units]="units$ | async">
        </dc-output-list>
      </div>
    </div>
  </div>

  <mat-horizontal-stepper fxHide fxShow.lt-md>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{titles.calc.long}}</span>
        <span fxShow fxHide.gt-xs>{{titles.calc.short}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.calc.long}}</h3>
        <dc-calc-list
          [calcs]="calcs$ | async">
        </dc-calc-list>
        <div>
          <div class="dc-spacer"></div>
          <button mat-raised-button [color]="activeCalcsCount() ? 'primary' : ''" matStepperNext>
            <span>{{titles.input.long}}</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{titles.input.long}}</span>
        <span fxShow fxHide.gt-xs>{{titles.input.short}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.input.long}}</h3>
        <div *ngIf="!activeCalcsCount()">
          <dc-chip color="warn">{{messages.noCalcsSelected}}</dc-chip>
          <div class="dc-spacer"></div>
        </div>
        <dc-input-list
          [inputs]="inputs$ | async"
          [selects]="selects$ | async"
          [units]="units$ | async">
        </dc-input-list>
        <div>
          <div class="dc-spacer"></div>
          <button mat-raised-button color="primary" matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            <span>{{titles.calc.short}}</span>
          </button>
          <button mat-raised-button [color]="activeFilledResultsCount() ? 'primary' : ''" matStepperNext>
            <span>{{titles.output.short}}</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{titles.output.long}}</span>
        <span fxShow fxHide.gt-xs>{{titles.output.short}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{titles.output.long}}</h3>
        <div *ngIf="!activeCalcsCount()" fxLayout="column" fxLayoutAlign="start center">
          <dc-chip color="warn">{{messages.noCalcsSelected}}</dc-chip>
          <div class="dc-spacer"></div>
        </div>
        <div *ngIf="activeFilledDataCount() !== activeDataCount()" fxLayout="column" fxLayoutAlign="start center">
          <dc-chip color="warn">{{messages.missingInputs}}</dc-chip>
          <div class="dc-spacer"></div>
        </div>
        <dc-output-list
          [calcs]="calcs$ | async"
          [units]="units$ | async">
        </dc-output-list>
        <div>
          <div class="dc-spacer"></div>
          <button mat-raised-button color="primary" matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            <span>{{titles.input.long}}</span>
          </button>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>
