.page-title-container {
}

.page-title {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.padding-inner {
    padding: 1%;
}

.calc-card {
    margin-bottom: 1%;
    cursor: pointer;
}