<div fxLayout="column" fxLayoutAlign="start center">

  <div fxLayout fxLayoutGap="1rem" fxHide fxShow.gt-sm>
    <div fxFlex="none">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{calculatorsTitle}}</h3>
      <dc-calculator-options
        [calculators]="calculators"
        (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
      </dc-calculator-options>
    </div>

    <div fxFlex="none">
      <div *ngIf="getActiveDataCount()" [@appearOnActive]>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{inputsTitle}}</h3>
        <dc-calculator-inputs
          [(system)]="system"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-inputs>
      </div>
    </div>

    <div fxFlex="none">
      <div *ngIf="getActiveCompletedResults().length" [@appearOnActive]>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{outputsTitle}}</h3>
        <div class="dc-full-width">
          <div *ngIf="notAllActiveDataFilled()" [@appearOnActive]
               fxLayout="column" fxLayoutAlign="start center">
            <dc-chip color="warn">{{missingInputsMessage}}</dc-chip>
            <div class="dc-spacer"></div>
          </div>
        </div>
        <dc-calculator-outputs
          [calculators]="calculators"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-outputs>
      </div>
    </div>
  </div>

  <mat-horizontal-stepper fxHide fxShow.lt-md>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{calculatorsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{calculatorsShortTitle}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{calculatorsTitle}}</h3>
        <dc-calculator-options
          [calculators]="calculators"
          (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
        </dc-calculator-options>
        <div>
          <div class="dc-spacer"></div>
          <button mat-button matStepperNext type="button">
            <span>{{inputsTitle}}</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{inputsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{inputsShortTitle}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{inputsTitle}}</h3>
        <div *ngIf="!getActiveCalculators().length">
          <dc-chip color="warn">{{noCalculatorsSelectedMessage}}</dc-chip>
        </div>
        <dc-calculator-inputs
          [(system)]="system"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-inputs>
        <div>
          <button mat-button matStepperPrevious type="button">
            <mat-icon>arrow_back</mat-icon>
            <span>{{calculatorsShortTitle}}</span>
          </button>
          <button mat-button matStepperNext type="button">
            <span>{{outputsShortTitle}}</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [completed]="false">
      <ng-template matStepLabel>
        <span fxHide fxShow.gt-xs>{{outputsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{outputsShortTitle}}</span>
      </ng-template>
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="dc-spacer"></div>
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{outputsTitle}}</h3>
        <div class="dc-full-width">
          <div *ngIf="!getActiveCalculators().length" fxLayout="column" fxLayoutAlign="start center">
            <dc-chip color="warn">{{noCalculatorsSelectedMessage}}</dc-chip>
            <div class="dc-spacer"></div>
          </div>
          <div *ngIf="notAllActiveDataFilled()" fxLayout="column" fxLayoutAlign="start center">
            <dc-chip color="warn">{{missingInputsMessage}}</dc-chip>
            <div class="dc-spacer"></div>
          </div>
        </div>
        <dc-calculator-outputs
          [calculators]="calculators"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-outputs>
        <div>
          <button mat-button matStepperPrevious type="button">
            <mat-icon>arrow_back</mat-icon>
            <span>{{inputsTitle}}</span>
          </button>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>
