{{getCalcURL()}}
<div fxLayout="column" fxLayoutAlign="start center">

  <div fxLayout fxLayoutAlign="center start" fxLayoutGap="1rem" fxHide fxShow.gt-sm>
    <div class="dc-tool-panel-container" fxFlex="none">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{calculatorsTitle}}</h3>
      <dc-calculator-options
        [calculators]="calculators"
        (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
      </dc-calculator-options>
    </div>

    <div class="dc-tool-panel-container"
         *ngIf="getActiveDataCount()" [@appearOnActive]
         fxLayout="column" fxLayoutAlign="start center">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{inputsTitle}}</h3>
      <dc-calculator-inputs
        [(system)]="system"
        [inputs]="inputs"
        [selections]="selections">
      </dc-calculator-inputs>
    </div>

    <div class="dc-tool-panel-container"
         *ngIf="getActiveCompletedResults().length" [@appearOnActive]
         fxLayout="column" fxLayoutAlign="start center">
      <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{outputsTitle}}</h3>
      <div *ngIf="notAllActiveDataFilled()" [@appearOnActive]>
        <dc-chip color="warn">{{missingInputsMessage}}</dc-chip>
      </div>
      <dc-calculator-outputs
        [calculators]="calculators"
        [inputs]="inputs"
        [selections]="selections">
      </dc-calculator-outputs>
    </div>
  </div>

  <mat-tab-group #calcTabs class="dc-calc-tabs" color="accent" [dynamicHeight]="true" fxShow fxHide.gt-sm>
    <mat-tab #calcsTab>
      <ng-template mat-tab-label>
        <span fxHide fxShow.gt-xs>{{calculatorsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{calculatorsShortTitle}}</span>
        &nbsp;
        <dc-chip [dense]="true">{{getActiveCalculators().length}}/{{calculators.length}}</dc-chip>
      </ng-template>
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container" fxFlex="none" fxLayout="column" fxLayoutAlign="start center">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{calculatorsTitle}}</h3>
        <dc-calculator-options
          [calculators]="calculators"
          (activeCalculatorsChanged)="onActiveCalculatorsChanged($event)">
        </dc-calculator-options>
        <div class="dc-spacer"></div>
        <button mat-button (click)="calcTabs.selectedIndex = 1"
                *ngIf="getActiveCalculators().length">
          <span>{{inputsTitle}}</span>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-tab>

    <mat-tab #inputsTab>
      <ng-template mat-tab-label>
        <span fxHide fxShow.gt-xs>{{inputsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{inputsShortTitle}}</span>
        &nbsp;
        <dc-chip [dense]="true" [color]="allActiveDataFilled() ? '' : 'warn'">
          {{getActiveFilledDataCount()}}/{{getActiveDataCount()}}
        </dc-chip>
      </ng-template>
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container" fxLayout="column" fxLayoutAlign="start center">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{inputsTitle}}</h3>
        <div *ngIf="!getActiveCalculators().length">
          <dc-chip color="warn">{{noCalculatorsSelectedMessage}}</dc-chip>
        </div>
        <dc-calculator-inputs
          [(system)]="system"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-inputs>
        <div class="dc-spacer"></div>
        <button mat-button (click)="calcTabs.selectedIndex = 0"
                *ngIf="!getActiveCalculators().length">
          <mat-icon>arrow_back</mat-icon>
          <span>{{calculatorsTitle}}</span>
        </button>
        <button mat-button (click)="calcTabs.selectedIndex = 2"
                *ngIf="getActiveCompletedResults().length">
          <span>{{outputsTitle}}</span>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </mat-tab>

    <mat-tab #outputsTab>
      <ng-template mat-tab-label>
        <span fxHide fxShow.gt-xs>{{outputsTitle}}</span>
        <span fxShow fxHide.gt-xs>{{outputsShortTitle}}</span>
        &nbsp;
        <dc-chip [dense]="true" [color]="allActiveResultsCompleted() ? '' : 'warn'">
          {{getActiveCompletedResults().length}}/{{getActiveCalculators().length}}
        </dc-chip>
      </ng-template>
      <div class="dc-spacer"></div>
      <div class="dc-tool-panel-container" fxLayout="column" fxLayoutAlign="start center">
        <h3 class="dc-secondary-text dc-calc-tool-header dc-center-text">{{outputsTitle}}</h3>
        <div *ngIf="!getActiveCalculators().length">
          <dc-chip color="warn">{{noCalculatorsSelectedMessage}}</dc-chip>
        </div>
        <div *ngIf="notAllActiveDataFilled()">
          <dc-chip color="warn">{{missingInputsMessage}}</dc-chip>
        </div>
        <dc-calculator-outputs
          [calculators]="calculators"
          [inputs]="inputs"
          [selections]="selections">
        </dc-calculator-outputs>
        <div class="dc-spacer"></div>
        <button mat-button (click)="calcTabs.selectedIndex = 0"
                *ngIf="!getActiveCalculators().length">
          <mat-icon>arrow_back</mat-icon>
          <span>{{calculatorsTitle}}</span>
        </button>
        <button mat-button (click)="calcTabs.selectedIndex = 1">
          <mat-icon>arrow_back</mat-icon>
          <span>{{inputsTitle}}</span>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
