<div fxLayout="column" fxLayoutAlign="start center">

  <div fxLayout fxLayoutAlign="center start" fxLayoutGap="1rem">
    <button mat-button class="dc-small" (click)="calcsList.selectAll()"
            matTooltip="Select all" matTooltipPosition="above">
      <mat-icon>check_box</mat-icon>
    </button>
    <button mat-button class="dc-small" (click)="calcsList.deselectAll()"
            matTooltip="Deselect all"  matTooltipPosition="above">
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>
  </div>

  <mat-selection-list #calcsList>
    <div *ngFor="let calc of calculators">
      <mat-list-option checkboxPosition="before"
                       [value]="calc" [selected]="calc.active"
                       (selectionChange)="onSelectionChange($event)">
        <h3 mdLine class="dc-list-option-title">{{calc.title}}</h3>
        <h6 mdLine class="dc-list-option-subtitle dc-secondary-text">{{calc.subTitle}}</h6>
      </mat-list-option>
      <mat-divider></mat-divider>
    </div>
  </mat-selection-list>

</div>
