<div id="dc-container">
  <mat-sidenav-container id="dc-sidenav-container">
    <dc-toolbar></dc-toolbar>
    <div id="dc-content" fxLayout="column">
      <dc-header></dc-header>
      <div class="dc-outlet-container"
           [class.xs]="{'dc-outlet-container': false, 'dc-outlet-container-small': true}"
           [@slideInOnRouteChange]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <span fxFlex></span>
      <mat-toolbar color="primary">
        <div id="footer-copywrite">
          <span>&copy; 2017 - Curtis Bollinger</span>
        </div>
      </mat-toolbar>
    </div>
  </mat-sidenav-container>
</div>
