#app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%  !important;
}

#page-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

#page-title-spacer {
  height: 1.5rem;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}
