#dc-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dc-sidenav-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#dc-header {
    height: 4rem;
    min-height: 4rem;
    margin: 0;
    padding: 0 .75rem;
    z-index: 16;
    justify-content: center;
}

#dc-content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 4rem;
}