#dc-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dc-content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 4rem;
}

.dc-outlet-container {
    margin: 1.5rem;
}

.dc-outlet-container-small {
    margin: 1.5rem 0;
}

#footer-copywrite {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: .8rem;
}
