<form fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
  <md-radio-group name="unitSystem" fxLayout fxLayoutGap="2rem" [(ngModel)]="system" (change)="setDefaultUnitSystem($event.value)">
    <md-radio-button value="metric">Metric</md-radio-button>
    <md-radio-button value="imperial">Imperial</md-radio-button>
  </md-radio-group>

  <div fxLayout fxLayoutGap=".2rem">
    <md-form-field color="accent" class="full-width">
      <input mdInput name="weightValue" type="number" placeholder="Weight" [(ngModel)]="weightSelection.value" />
      <md-hint align="end">{{ weightSelection?.unit?.name }}</md-hint>
    </md-form-field>
    <md-select name="weightUnits" color="accent" class="full-width" placeholder="Units" (change)="updateSystem()" [(ngModel)]="weightSelection.unit">
      <md-option *ngFor="let unit of weightSelection.group" [value]="unit">
        {{ unitString(unit?.symbol) }}
      </md-option>
    </md-select>
  </div>

  <div fxLayout fxLayoutGap=".2rem">
    <md-form-field color="accent" class="full-width">
      <input mdInput name="heightValue" type="number" placeholder="Height" [(ngModel)]="heightSelection.value">
      <md-hint align="end">{{ heightSelection?.unit?.name }}</md-hint>
    </md-form-field>
    <md-select name="heightUnits" color="accent" class="full-width" placeholder="Units" (change)="updateSystem()" [(ngModel)]="heightSelection.unit">
      <md-option *ngFor="let unit of heightSelection.group" [value]="unit">
        {{ unitString(unit?.symbol) }}
      </md-option>
    </md-select>
  </div>

  <md-form-field color="accent">
    <input mdInput name="bmiResult" id="bmiResult" type="number" placeholder="Body Mass Index (BMI)" disabled [value]="(result || 0) | number : '1.2-2'">
    <md-hint align="end">kg/m&#178;</md-hint>
  </md-form-field>
</form>
