<div id="calc-list-container"
     fxLayout
     fxLayoutWrap
     fxLayoutAlign="center start">
  <div *ngFor='let calculator of calculatorList'
        [routerLink]="'/' + calculator.stub"
        class="calc-card">
    <mat-card>
      <mat-card-title>{{calculator.title}}</mat-card-title>
      <mat-card-subtitle>{{calculator.subTitle}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1rem">
  <div fxFlex>
    <mat-selection-list #calcOptions>
      <h3 mdSubheader>Folders</h3>
      <mat-divider></mat-divider>
      <mat-list-option>
        <h3 mdLine>Body Mass Index (BMI)</h3>
        <h6 mdLine>A measure of body fat in adults</h6>
      </mat-list-option>
      <mat-divider></mat-divider>
      <mat-list-option>
        <h3 mdLine>Mifflin St. Jeor</h3>
        <h6 mdLine>Daily calorie needs for adults</h6>
      </mat-list-option>
      <mat-divider></mat-divider>
    </mat-selection-list>
  </div>
  <div fxFlex>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    </form>
  </div>
  <div fxFlex>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    </form>
  </div>
</div>
