<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div fxLayout="column">
      <div *ngFor="let calc of calcs; trackBy:getCalcKey; let isFirst = first; let isLast = last">
        <div *ngIf="calc.active" [@appearOnActive] fxLayout="column">
          <div *ngIf="!isFirst" class="dc-spacer"></div>
          <dc-input fxFlex
            [readonly]="true"
            [name]="calc.title"
            [value]="0"
            [units]="getOutputUnits(calc)"
            [unitSymbol]="getOutputConvertToUnit(calc)"
            (unitSymbolChange)="onOutputUnitChange(calc.id, $event)">
          </dc-input>
          <div *ngIf="!isLast" class="dc-spacer"></div>
        </div>
      </div>
    </div>
  </div>

</div>
