<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div *ngFor="let calc of calcs; trackBy:getCalcKey; let isFirst = first; let isLast = last">
      <div *ngIf="calc.active" [@appearOnActive]>
        <div *ngIf="!isFirst" class="dc-spacer"></div>
        <dc-input
          [readonly]="true"
          [name]="calc.title"
          [value]="getOutputConvertedValue(calc)"
          [units]="getOutputUnits(calc)"
          [unitSymbol]="getOutputConvertToUnit(calc)"
          (unitSymbolChange)="onOutputUnitChange(calc.id, $event)">
        </dc-input>
        <div *ngIf="!isLast" class="dc-spacer"></div>
      </div>
    </div>
  </div>

</div>
