<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div *ngIf="getActiveCompletedResults().length" [@appearOnActive] fxLayout="column" fxLayoutAlign="start center">
      <dc-system-selector [(system)]="system"></dc-system-selector>
    </div>
  </div>

  <div class="dc-full-width">
    <div fxLayout="column">
      <div *ngFor="let calc of calculators">
        <div *ngIf="calc.active" [@appearOnActive]>
          <div class="dc-spacer"></div>
          <dc-result
            [title]="calc.title"
            [value]="getResult(calc)"
            [symbolText]="calc.output.symbolText"
            [symbol]="calc.output.symbol"
            [(convertSymbol)]="calc.output.convertSymbol"
            (convertSymbolChange)="updateSystem(calculators)">
          </dc-result>
          <div class="dc-spacer"></div>
        </div>
      </div>
    </div>
  </div>

</div>
