<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div *ngIf="getActiveDataCount()" [@appearOnActive]
         fxLayout="column" fxLayoutAlign="start center">
      <dc-system-selector [(system)]="system"></dc-system-selector>
      <div class="dc-full-width">
        <div *ngIf="getActiveFilledDataCount()" [@appearOnActive]
             fxLayout="column" fxLayoutAlign="start center">
          <button mat-button (click)="clearDataValues()">
            <mat-icon>clear</mat-icon>
            <span>Clear Values</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="dc-spacer"></div>

  <div class="dc-full-width">
    <div fxLayout="column" fxLayoutGap="1rem">
      <div *ngFor="let selection of selections">
        <div *ngIf="selection.active" [@appearOnActive] fxLayout="column">
          <mat-form-field fxFlex color="accent">
            <mat-select required [placeholder]="selection.name | capitalize" [(ngModel)]="selection.value">
              <mat-option *ngFor="let option of selection.group" [value]="option">
                {{option?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="dc-spacer"></div>

  <div class="dc-full-width">
    <div fxLayout="column" fxLayoutGap="2rem">
      <div fxFlex *ngFor="let input of inputs">
        <div *ngIf="input.active" [@appearOnActive] fxLayout="column">
          <dc-input fxFlex [input]="input" (unitChange)="onUnitChange()"></dc-input>
        </div>
      </div>
    </div>
  </div>

</div>
