<div fxLayout="column" fxLayoutAlign="start center">

  <mat-radio-group [(ngModel)]="systemString" fxLayout fxLayoutGap="1rem"
                   (change)="onSystemChange($event.value)"
                   *ngIf="getActiveDataCount() > 0" [@appearOnActive]
                   matTooltip="Unit System" matTooltipPosition="left" matTooltipShowDelay="500">
    <mat-radio-button value="metric">Metric</mat-radio-button>
    <mat-radio-button value="imperial">Imperial</mat-radio-button>
    <mat-radio-button value="mixed" disabled>Mixed</mat-radio-button>
  </mat-radio-group>

  <div *ngFor="let selection of selections">
    <div *ngIf="selection.active" [@appearOnActive]>
      <div class="dc-spacer"></div>
      <mat-radio-group required [(ngModel)]="selection.value" fxLayout fxLayoutGap="1rem"
                       [matTooltip]="selection.name" matTooltipPosition="left" matTooltipShowDelay="500">
        <mat-radio-button *ngFor="let option of selection.group" [value]="option">
          {{option?.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngFor="let input of inputs">
    <div *ngIf="input.active" [@appearOnActive]>
      <div class="dc-spacer"></div>
      <div fxLayout fxLayoutGap=".2rem" >
        <mat-form-field color="accent">
          <input matInput required type="number"
                 [placeholder]="input.name" [(ngModel)]="input.value" />
          <mat-hint align="end">{{getUnitString(input?.unit?.symbol)}}</mat-hint>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-select required placeholder="Units"
                      (change)="onUnitChange()" [(ngModel)]="input.unit">
            <mat-option *ngFor="let unit of input.group" [value]="unit">
              {{unit?.name}} ({{getUnitString(unit?.symbol)}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
