<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div *ngIf="getActiveDataCount()" [@appearOnActive]
         fxLayout="column" fxLayoutAlign="start center">
      <mat-radio-group [(ngModel)]="systemString" (change)="onSystemChange($event.value)"
                       matTooltip="Unit System" matTooltipPosition="left" matTooltipShowDelay="500"
                       fxLayout fxLayoutGap="1rem">
        <mat-radio-button value="metric">Metric</mat-radio-button>
        <mat-radio-button value="imperial">Imperial</mat-radio-button>
        <mat-radio-button value="mixed" disabled>Mixed</mat-radio-button>
      </mat-radio-group>
      <div class="dc-full-width">
        <div *ngIf="getActiveFilledDataCount()" [@appearOnActive]
             fxLayout="column" fxLayoutAlign="start center">
          <div class="dc-spacer"></div>
          <button mat-button (click)="clearDataValues()">
            <mat-icon>clear</mat-icon>
            <span>Clear Values</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let selection of selections" class="dc-full-width">
    <div *ngIf="selection.active" [@appearOnActive]
         fxLayout="column" fxLayoutAlign="start center">
      <div class="dc-spacer"></div>
      <mat-form-field color="accent">
        <mat-select required [placeholder]="selection.name | capitalize" [(ngModel)]="selection.value">
          <mat-option *ngFor="let option of selection.group" [value]="option">
            {{option?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngFor="let input of inputs" class="dc-full-width">
    <div *ngIf="input.active" [@appearOnActive]>
      <div class="dc-spacer"></div>
      <dc-input [input]="input" (unitChange)="onUnitChange()"></dc-input>
    </div>
  </div>

</div>
