<!-- <div fxLayout="column">
  <mat-form-field fxFlex [ngClass]="{'dc-input-value': showUnitOptions}" color="accent">
    <input matInput required type="number" [placeholder]="input.name" [(ngModel)]="input.value"
           (ngModelChange)="onValueChange($event.value)" (click)="$event.target.select()" />
    <mat-hint align="start" *ngIf="!showUnitOptions">
      {{input?.unit?.name}} ({{getUnitString(input?.unit?.symbol)}})
    </mat-hint>
  </mat-form-field>
  <mat-form-field fxFlex class="dc-input-unit" color="accent" *ngIf="showUnitOptions">
    <mat-select (change)="onUnitChange($event.value)" [(ngModel)]="input.unit">
      <mat-option *ngFor="let unit of input.group" [value]="unit">
        {{unit?.name}} ({{getUnitString(unit?.symbol)}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
