<div fxLayout="column">
  <mat-form-field [ngClass]="{'dc-input-value': showUnitOptions()}" color="accent">
    <input [readonly]="readonly" matInput [required]="!readonly" type="number"
           [placeholder]="name" (click)="$event.target.select()"
           [ngModel]="value" (ngModelChange)="onValueChange($event)"/>
    <mat-hint align="start" *ngIf="!showUnitOptions()">
      <span *ngIf="selectedUnit">{{selectedUnit?.name}} ({{selectedUnit?.symbol}})</span>
      <span *ngIf="!selectedUnit">{{unitSymbol}}</span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="dc-input-unit" color="accent" *ngIf="showUnitOptions()">
    <mat-select [ngModel]="unitSymbol" (ngModelChange)="onSelectedUnitChange($event)">
      <mat-option *ngFor="let unit of units" [value]="unit.symbol">
        {{unit?.name}} ({{unit?.symbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
