div.dc-input {
  .mat-form-field-subscript-wrapper {
    visibility: collapse !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .dc-input-value {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }

  .dc-input-unit {
    .mat-form-field-infix {
      border-top: 0 !important;
    }

    .mat-input-placeholder {
      visibility: collapse !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
