<div fxLayout="column" fxLayoutAlign="start center">

  <div class="dc-full-width">
    <div *ngIf="activeFilledDataCount" [@appearOnActive] fxLayout="column" fxLayoutAlign="start center">
      <button mat-button (click)="clearDataValues()">
        <mat-icon>clear</mat-icon>
        <span>Clear Values</span>
      </button>
      <div class="dc-spacer"></div>
    </div>
  </div>

  <div class="dc-full-width">
    <div fxLayout="column">
      <div *ngFor="let select of selects; trackBy:getSelectKey; let isFirst = first;">
        <div *ngIf="select.active" [@appearOnActive] fxLayout="column">
          <div *ngIf="!isFirst" class="dc-spacer"></div>
          <mat-form-field fxFlex color="accent">
            <mat-select required [placeholder]="select.name" [ngModel]="select.value"
                        (ngModelChange)="onSelectValueChange(select.id, $event)">
              <mat-option *ngFor="let option of select.options" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="!isLast" class="dc-spacer"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="dc-full-width">
    <div fxLayout="column">
      <div fxFlex *ngFor="let input of inputs; trackBy:getInputKey; let isFirst = first; let isLast = last">
        <div *ngIf="input.active" [@appearOnActive] fxLayout="column">
          <div *ngIf="!isFirst" class="dc-spacer"></div>
          <dc-input fxFlex
            [name]="input.name"
            [value]="input.value"
            (valueChange)="onInputValueChange(input.id, $event)"
            [units]="getInputUnits(input)"
            [unitSymbol]="input.unit"
            (unitSymbolChange)="onInputUnitChange(input.id, $event)">
          </dc-input>
          <div *ngIf="!isLast" class="dc-spacer"></div>
        </div>
      </div>
    </div>
  </div>

</div>
