@import '~@angular/material/theming';

@mixin dc-base-styles-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  table {
    color: mat-color($foreground, text);
    background-color: mat-color($background, card, 0.2);

    thead {
      background-color: mat-color($background, app-bar, 0.9);
    }

    th, td {
      border: 1px solid mat-color($foreground, text, 0.05);
    }
  }

  .dc-default-background-one {
    color: mat-color($foreground, text);
    background-color: mat-color($foreground, secondary-text, 0.3);
  }

  .dc-primary-background {
    color: mat-contrast($primary, 500);
    background-color: mat-color($primary);
  }

  .dc-accent-background {
    color: mat-contrast($accent, 500);
    background-color: mat-color($accent);
  }

  .dc-warn-background {
    color: mat-contrast($warn, 500);
    background-color: mat-color($warn);
  }

  .dc-default-text {
    color: mat-color($foreground, text) !important;
  }

  .dc-secondary-text {
    color: mat-color($foreground, secondary-text) !important;
  }
}
