* {
  a:hover, a:active, a:focus {
    text-decoration: none;
  }

  &:active, :focus {
    outline: none !important;
  }
}

html, body, div, p, span, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

img {
  display:block;
  max-width: 100%;
}

p {
  line-height: 1.75em;
}

button {
  text-transform: uppercase;
}

label {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

  thead, tbody {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td, th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: normal;
    padding: 1rem;
  }
}

.pointer {
  cursor: pointer;
}

button.dc-small {
  min-width: 1rem;
  padding: 0 0.5em;
}

.dc-bottom-shadow {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
}

.dc-full-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.dc-text-content {
  max-width: 40rem;
}

.dc-full-width {
  width: 100%;
}

.dc-list-option-title {
  font-size: 1.1rem !important;
}

.dc-list-option-subtitle {
  font-size: 0.9em !important;
}

.dc-center-text {
  text-align: center;
}

.dc-spacer {
  height: 1rem;
}

.dc-nowrap {
  white-space: nowrap;
  overflow: hidden;
}
