* {
  a:hover, a:active, a:focus {
    text-decoration: none;
  }

  &:active, :focus {
    outline: none !important;
  }
}

html, body, div, p, span, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

p {
  line-height: 1.75em;
}

button {
  text-transform: uppercase;
}

label {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

button.md-small {
  min-width: 1em;
  padding-left: .5em;
  padding-right: .5em;
}

.bottom-shadow {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
}

table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

  thead, tbody {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td, th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: normal;
    padding: 1rem;
  }
}
