@import '~@angular/material/theming';

@mixin dc-base-styles-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  table {
    color: mat-color($foreground, text);
    background-color: mat-color($background, card, 0.2);

    thead {
      background-color: mat-color($background, app-bar, 0.9);
    }

    th, td {
      border: 1px solid mat-color($foreground, text, 0.05);
    }
  }
}
