.mat-stepper-horizontal {
  background-color: transparent !important;
}

.mat-list-item-content {
  padding: 0 0.5rem !important;
}

.mat-list-text {
  padding-right: 0 !important;
}

.dc-input-value .mat-form-field-wrapper, 
.dc-input-unit .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.dc-input-value .mat-form-field-underline, 
.dc-input-unit .mat-form-field-underline {
  bottom: 0 !important;
}

.dc-input-unit .mat-form-field-infix {
  border-top: 0 !important;
}
