@import '~@angular/material/theming';
@include mat-core();

@import './themes/dietetic-theme.scss';
@import './app/header/header.component.theme.scss';

@mixin custom-components-theme($theme) {
  @include dc-toolbar-component-theme($theme);
}

.dietetic-theme {
  @include angular-material-theme($dietetic-theme);
  @include custom-components-theme($dietetic-theme);
}

* {
  a:hover, a:active, a:focus {
    text-decoration: none;
  }

  &:active, :focus {
    outline: none !important;
  }
}

html, body, div, p, span, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

button {
  text-transform: uppercase;
}

label {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

button.md-small {
  min-width: 1em;
  padding-left: .5em;
  padding-right: .5em;
}

.bottom-shadow {
  -webkit-box-shadow: 0 2px 12px -2px black;
  -moz-box-shadow: 0 2px 12px -2px black;
  box-shadow: 0 2px 12px -2px black;
  position: relative;
}
